*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #928cff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}
.inputs{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.inputs .data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4px;
}
.inputs .data input{
    padding: 4px;
    outline: none;
    border: 1 px solid #928cff;
    border-radius: 5px;
}
.inputs .data button{
    background-color: #928cff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
h2{
    font-size: 32px;
    text-align: center;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}
.list .box{
    background : #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.list .box .item{
  background: #928cff;
  color: #fff;
  padding: 10px;
  cursor: move;
   margin: 4px;
   }
